h1{

margin-bottom:30px;

font-size:30px;

font-weight:700;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

gap:20px;

}

.card{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 4px 15px rgba(0,0,0,.05);

transition:.2s;

}

.card:hover{

transform:translateY(-5px);

}

.card h3{

color:#666;

font-size:15px;

margin-bottom:15px;

}

.card h2{

font-size:38px;

color:#0C2340;

}